.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.btn-css {
	padding: 0.7rem 1.5rem;
	font-size: 1rem;
	font-weight: 600;
	border: 2px solid transparent;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: all .3s ease;
	border-radius: 3px;
}

.btn-primary-css {
	color: var(--secondary);
	background-color: var(--primary);
}

.btn-primary-css:hover {
	color: var(--primary);
	background-color: transparent;
	border-color: var(--primary); 
}

.btn-secondary-css {
	color: var(--primary);
	background-color: transparent;
	border-color: var(--primary);
}

.btn-secondary-css:hover {
	color: var(--secondary);
	background-color: var(--primary);
}

.justify-center {
	justify-content: center;
}

.container {
	max-width: 1152px;
	padding: 0 15px;
	margin: 0 auto;
}
